Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.1.3
appdirs==1.2.0
argparse==1.2.1
decorator==3.4.0
docutils==0.11
httplib2==0.8
mock==1.0.1
mutagen==1.22
oauth2client==1.2
ply==3.4
proboscis==1.2.5.3
protobuf==2.5.0
python-dateutil==2.1
python-gflags==2.0
requests==2.0.1
six==1.3.0
validictory==0.9.1
wsgiref==0.1.2
